<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="timesheetwithcuba" transaction-type="RESOURCE_LOCAL">

        <class>com.company.timesheetwitcuba.entity.Position</class>
        <class>com.company.timesheetwitcuba.entity.User</class>
        <class>com.company.timesheetwitcuba.entity.Organization</class>
        <class>com.company.timesheetwitcuba.entity.Department</class>
        <class>com.company.timesheetwitcuba.entity.Datasheet</class>
        <class>com.company.timesheetwitcuba.entity.HolyDay</class>
    </persistence-unit>
</persistence>
